<header class="site-header">

  <div >
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="/about/">About</a></li>
      <li><a href="/ruby-on-rails/">Ruby On Rails</a></li>
      <li><a href="/ruby-on-rails/">iOS</a></li>
      <li><a href="/books/">Books/Music</a></li>
      <li><a href="/interview/">Interview Questions</a></li>
      <!--<li class="has-dropdown">
        <a href="#">Topics</a>
        <ul class="dropdown">
          <li><a href="/ruby-on-rails/">Ruby On Rails</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
        </ul>
      </li>-->
    </ul>


  </section>
</nav>







  </div>

</header>
